<!-- <div class="container">
  <h1 class="logo">Luxury Watches</h1>
  <nav>
    <ul>
      <li><a href="/index">Trang chủ</a></li>
      <li>
        <a href="#">Sản phẩm</a>
        <ul class="dropdown">
          <li><a href="#1">Sản phẩm nổi bật</a></li>
          <li><a href="#2">Đồng hồ nam</a></li>
          <li><a href="#3">Đồng hồ nữ</a></li>
        </ul>
      </li>
      <li><a href="/contact">Liên hệ</a></li>
      <span id="authContainer">
        <li><a href="#" onclick="showLoginPopup(); return false;">Đăng nhập</a></li>
      </span>
    </ul>
  </nav>
</div> -->
