<!-- <div class="container">
  <div class="quick-search-buttons">
    <a href="#" class="quick-search-btn" data-keyword="nam">
      <img
        src="/img/DonghoNam/donghoNam1.jpg"
        alt="Đồng hồ nam"
        width="100"
        height="100"
      />
      <span>Đồng hồ Nam</span>
    </a>
    <a href="#" class="quick-search-btn" data-keyword="nữ">
      <img
        src="/img/DonghoNu/donghoNu1.jpg"
        alt="Đồng hồ nữ"
        width="100"
        height="100"
      />
      <span>Đồng hồ Nữ</span>
    </a>
    <a href="#" class="quick-search-btn" data-keyword="cao cấp">
      <img
        src="/img/DonghoVip/donghoVip1.jpg"
        alt="Đồng hồ cao cấp"
        width="100"
        height="100"
      />
      <span>Đồng hồ Cao cấp</span>
    </a>
    <a
      href="#"
      class="quick-search-btn"
      data-keyword="thể thao"
    >
      <img
        src="/img/DonghoNam/donghoNam11.jpg"
        alt="Đồng hồ thể thao"
        width="100"
        height="100"
      />
      <span>Đồng hồ Thể thao</span>
    </a>
  </div>
  <div id="search-results"></div>
</div> -->